<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor 1</title>
</head>
<body>
    <h1>Hello webserver</h1>

    <form action="/postar" method="post" style="display: flex; flex-direction: column; width: 20em;">

        <span>Tittle</span>
        <input type="text" name="tittle" id="tittle" placeholder="tittle" required>
        <span>Your Post</span>
        <textarea name="text" id="text" placeholder="your post" cols="30" rows="10"></textarea>
        <span>Author Name</span>
        <input type="text" name="author" id="author" placeholder="author name" required>

        <button type="submit">Post</button>

    </form>


    <h2>Records Serverweb  </h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tittle</th>
                <th>Text</th>
                <th>Author</th>
            </tr>
        </thead>

        <tbody>

            {{range .RecordsServerWeb}}
            <tr>

            <td>{{.ID}}</td>
            <td>{{.Tittle}}</td>
            <td>{{.Text}}</td>
            <td>{{.Author}}</td>

            </tr>
            {{else}}
             <tr>
                <td colspan="4" class="text-center text-muted">No records found in the servidorcliente table.</td>
             </tr>
             {{end}}
        </tbody>

    </table>

    <br><br>

    <h2>Records received from the client</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tittle</th>
                <th>Text</th>
                <th>Author</th>
            </tr>
        </thead>

        <tbody>

            {{range .ClientRecord}}
            <tr>

            <td>{{.ID}}</td>
            <td>{{.Tittle}}</td>
            <td>{{.Text}}</td>
            <td>{{.Author}}</td>

            </tr>
            {{else}}
             <tr>
                <td colspan="4" class="text-center text-muted">No records found in the servidorcliente table.</td>
             </tr>
             {{end}}
        </tbody>

    </table>

</body>
</html>


